body{
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
    background-color: #fffdfd;
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,p{
    margin: 0;
}
h2{
    font-size: 1.8rem;
}
h4{
    font-size: 1.2rem;
}
.container{
    padding: 50px 150px;
}
.package__heading {
    text-align: center;
}
.package__heading > p {
    margin: 38px 0;
}
.package__type{
    display: flex;
    justify-content: space-evenly;
}
.package__type > p > span {
    background: #FFE87A;
    padding: 4px;
    font-size: 0.6rem;
    border-radius: 5px;
}
.package__level{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.row{
    display: flex;
    margin-top: 5.3125rem;
}
.col-xs-3 {
    padding: 20px;
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.col-xs-3:not(:last-child){
    margin-right: 50px;
}
.col-xs-3 > p{
    margin: 11px 0 28px 0;
    font-size: 14px;
}
.col-xs-3 > button{
    padding: 10px;
    width: 100%;
    border: 2px solid black;
    border-radius: 12px;
    background: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.col-xs-3 > ul{
    list-style-type: none;
    padding: 0;
    margin-top: 35px;
}
.col-xs-3 > ul > li{
    margin: 15px 0;
    color: #808080;
}
.col-xs-3 > ul > li > img{
    margin-right: 30px;
}
.package__level > h4:first-child{
    border-bottom: 2px solid #B00000;
;
}
.package__level > h4 {
    border-bottom: 2px solid gray;
    width: 50%;
    text-align: center;
    padding-bottom: 5px;
}
.monthly__switch{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.monthly__switch > p{
    margin-right: 5px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #B00000;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ccc;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #B00000;
    ;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .customer__heading {
    margin-left: 200px;
}
 .customer__heading img {
    opacity: 0.3;
    position: relative;
    top: 65px;
    right: 100px;
}
.customer__heading > h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    color: #18191F;

}
.customers__row {
    display: grid;
    grid-template-columns: 330px auto;
    grid-column-gap: 20px;
    align-items: center;
    margin-top: -60px;
    margin-left: 280px;
}
.customers__col {
    border: 1px solid #29292A12;
    background: white;
    padding: 20px 50px;
    box-shadow: 0px 10px 20px rgb(41 41 42 / 7%);
    border-radius: 8px;
}
.customer__col {
    display: grid;
    grid-gap: 20px;
}
.customer__details{
    margin: 20px 0;
}
.customer__details > p {
    color: #969BAB;
    font-size: 14px;
}
.apostrophe{
    position: relative;
    right: 23px;
    top: 15px;
}
.customer__logo{
    width: 80px;
}
.customer__logo img{
    width: 100%;
}

@media screen and (max-width:900px) {
    .container{
        padding: 0;
    }
    .row{
        flex-direction: column;
    }
    .customers__row {
        display: block;
        margin-top: 20px;
        padding: 30px;
        margin-left: 0;
    }
    .customers__col:first-of-type{
        margin-bottom: 20px;
    }
    .col-xs-3{
        margin: 50px;
        padding: 20px;
        margin-right: 0;
    }
    .col-xs-3:nth-child(3){
        margin-right: 50px;
    }
    .customer__heading {
        margin-left: 0;
        padding: 20px 50px;
    }
    .customer__heading img {
        top: 27px;
        width: 10%;
        right: 43px;
    }
    .customer__heading h1 {
        font-size: 30px;
    }
}
@media screen and (min-width:900px) and (max-width:1440px) {
    .customers__row{
        margin-left: 0;
        margin-top: 50px;
    }
}