* {
    margin: 0;
    padding: 0px;
}
html   {
    scroll-behavior:smooth;
    font-family: 'Inter', sans-serif;
}


.section-5 {
     background: white;

}

.section-5a {
     display: grid;
     grid-template-columns: 30% 40%;
     padding-top: 6em;
     padding-left:9em;
     padding-right: 4em;
     padding-bottom: 3em;
     grid-column-gap: 20em;
     justify-content:space-evenly;
     align-items: start;
}

.section-5a h1{
     line-height: 46px;
     padding-top: 0.8em;
}

.logo-section {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap: 3em;
}

.we-serve {
     line-height: 30px;
}

.content-container {
     background: #F7FAFE;
     margin-left: 5%;
     margin-right: 5%;
     border-radius: 20px;
     margin-bottom: 8%;
     position: relative;
     z-index: 1;
}

.content {
     text-align: center;
     padding-top: 25px;
     font-size: 20px;
}

.triangle-1 {
     margin-left: 40%;
}

.triangle-2 {
     position:relative;
     top: 250px;
     z-index:2;
     left: 57px;
}

.triangle-3 {
     margin-left: 95%;
     padding-bottom: 30px;
}

.request-call-btn {
     display: flex;
     background: red;
     align-items: center;
     margin-left: 44%;
     margin-top: 2%;
     padding-left: 7px;
     padding-right: 7px;
     padding-bottom: 4px;
     padding-top: 4px;
     border-radius: 6px;
     color: white;
}

.get-in {
     margin-left: 9px;
}

.footer-section {
     background:#B00000;
     color:#E6E6E6;
     display:grid;
     grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
     padding-left: 5%;
     padding-top: 3%;
     grid-column-gap: 3.8em;
}

.column-1 {
     color:white;
     line-height: 25px;
}

.img {
     width: 120px;
     height: 80;
     margin-bottom: 10px;
     cursor: pointer;
}

.column-2 {
     color:white;
     cursor: pointer;
     list-style-type: none;
     margin-top:20%;
     line-height: 40px;
     font-weight: normal;
}

.column-3 {
     color:white;
     cursor: pointer;
     list-style-type: none;
     margin-top:20%;
     line-height: 40px;
     font-weight: normal;
}

.column-4 {
     color:white;
     cursor: pointer;
     list-style-type: none;
     margin-top:20%;
     line-height: 40px;
     font-weight: normal;
}

.column-5 {
     color:white;
     cursor: pointer;
     list-style-type: none;
     margin-top:20%;
     line-height: 40px;
     font-weight: normal;
}

.copyright {
     background: #B00000;
     color: white;
     padding-left: 66px;
     padding-top: 55px;
     padding-bottom: 60px;
     font-weight: normal;
}
